apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
blinker==1.8.2
CacheControl==0.12.14
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
deprecation==2.1.0
Flask==3.0.3
idna==3.7
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpickle==3.0.4
jsonpointer==2.4
MarkupSafe==2.1.5
msgpack==1.0.8
packaging==24.1
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.32
squareup==37.1.1.20240717
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.20.0
