apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
CacheControl==0.12.14
certifi==2024.7.4
charset-normalizer==3.3.2
deprecation==2.1.0
idna==3.7
jsonpickle==3.0.4
jsonpointer==2.4
msgpack==1.0.8
packaging==24.1
python-dateutil==2.8.2
requests==2.32.3
six==1.16.0
squareup==37.1.1.20240717
urllib3==2.2.2
